* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.main-content {

    &--wrap {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: calc(100% - 20px);
        max-width: 1100px;
        margin: 0 auto;
    }
}

.main {
    width: 75%;
    float: right;

    @media (max-width: 768px) {
        width: calc(100% - 20px);
    }
}

.single {
    margin: 35px 0;
}